*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cabecera, .cuerpo, .pie{
    width: 100%;
}
.cabecera{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.formulario{
    width: 30%;
    border: 1px solid rebeccapurple;
}
.links{
    width: 100%;
    border: 1px solid rgb(144, 153, 51);
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}



/*color bordes*/
body{
    border: 1px solid black;
}
.cabecera{
    border: 1px solid red;
}
.cuerpo{
    border: 1px solid green;
}
.pie{
    border: 1px solid yellow;
}